<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/principal.css">
    <title>FinBalance</title>
</head>
<body>
    <header>
        <div id="botones">
            <a href="./register">
                <button class="logins" ><h1 class="loginsT">LOG IN</h1></button>
            </a>
            <Button class="logins"><h1 class="loginsT">SIGN IN</h1></Button>
        </div>     
    </header>
    <main>
        <center>
            <h1>AI<h1>
            <div>
                <p>{{ respuesta }}<p>
            </div>
        </center>
    </main>
    <footer>

    </footer>

</body>
</html>