<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('custom_static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('custom_static', filename='principal.css') }}">
    <link rel="stylesheet" href="{{ url_for('custom_static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('custom_static_imagenes', filename='FINBALANCE.ico') }}" type="image/x-icon">

    <title>FinBalance</title>
</head>
<body>
    <header>
        <img id="logo" src="{{ url_for('custom_static_imagenes', filename='FINBALANCE-removebg-preview.png') }}" alt="logo" style="width: 10%; margin-left: 30px;">
        
    </header>
    <main>
        <ul class="windows">
            <li>
                <a href="/finance_manaher"> 
                    <img src="{{ url_for('custom_static_imagenes', filename='icons8-settings.svg') }}" alt="Icono tuerca">
                    <h2>Finance Manager</h2>
                </a>
            </li>
            <li>
                <a href="/data_center">
                    <img src="{{ url_for('custom_static_imagenes', filename='icons8-idea.svg') }}" alt="Icono Idea">
                    <h2>Data Center</h2>
                </a>
            </li>
            <!--
                <li>
                    <a href="/money_register">
                        <img style="width: 50px; height: 50px" src="{{ url_for('custom_static_imagenes', filename='disminucion.png') }}" alt="Grafica descendente">
                        <h2>Money Register</h2>
                    </a>
                </li>
            -->
            <li>
                <a href="/financing_IA">
                    <img style="width: 50px; height: 50px" src="{{ url_for('custom_static_imagenes', filename='burbuja-de-dialogo.png') }}" alt="Burbuja de Dialogo">
                    <h2>Financing IA</h2>
                </a>
            </li>
        </ul>
    </main>
    <footer>
        <center>
            <div class="colorWhite"> 
                Todos los derechos reservados ©
            </div>
        </center>
    </footer>

</body>
</html>